.jumbotron {
    background-image: url("../images/discover_missions_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:rgb(233, 17, 17);
}
#mynavbar {
    background-color: rgb(1, 51, 95);
}